h2 {
        color: blue;
        }

p.red {
        color: RGBA(255,0,0,1);
        }
.green{
color:green
}

#pink {
color: pink
}

ul >li {
color: grey;
}

#alive {
    font-family: 'Arial';
    font-size: 26pt;
    text-align: center;
}

.go-top--show{
    display: block;
}