h2 {
        color: blue;
        }

p.red {
        color: RGBA(255,0,0,1);
        }
.green{
color:green
}

#pink {
color: pink
}

ul >li {
color: grey;
}

#alive {
    font-family: 'Arial';
    font-size: 26pt;
    text-align: center;
}

.go-top--show{
    display: block;
}

.go-top{
    position: fixed;
    right: 20px;
    bottom: 50px;
    cursor: pointer;
    /*display: none;*/
    font-size: 18pt;
    color: rgba(0, 51, 153, 0.5);
    background-color: rgba(0, 51, 153, 0.1);
    padding: 8px 15px 12px 15px; /*слева сверху снизу справа*/
    border-radius: 50%
    z-index: 9999;
}