h1{
    color: red;
    text-align: center;
}
form.login_form{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
    padding: 10px;
    border: 1px solid gray /*толщина, тип,цвет*/
    border_radius: 5px;
}