<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>{{title}}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <header>
            <nav class="navbar navbar-light bg-light">
                <a href="/" class="navbar-brand">Главная</a>
                <a href="/news" class="navbar-brand">Новости</a>
                {% if current_user.is_authenticated %}
                <a class="navbar-brand" title="Нажмите, что бы выйти" href="/logout">{{current_user}}</a>
                {% else %}
                <a href="/register" class="navbar-brand">Регистрация</a>
                <a href="/login" class="navbar-brand">Авторизация</a>
                {% endif %}
            </nav>
        </header>
    </div>
     <div class="row">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <div class="row">
        <footer class="bg-success text-white text-center py-3">
            <p>&copy; 2025 &mdash; Компания "Складчина"</p>
        </footer>
            <nav class="navbar navbar-light bg-light">
                  <a href="/about" class="navbar-brand">О нас</a>
                  <a href="/contacts" class="navbar-brand">Контакты</a>
            </nav>
    </div>
</div>
</body>
</html>